/* Typography */

$base-font-size: 16px;

$weight-light: 300;
$weight-regular: 400;
$weight-bold: 700;

/* Colors */


/* Screen */

$screen-sm-max: 1280px;
$screen-tablet-land-max: 1024px;
$screen-tablet-max: 768px;
$screen-tablet-mobile-max: 767px;
$screen-mobile-max: 480px;

/* flexslider */

$flex-viewport-max-height:            2000px;
$flex-viewport-loading-max-height:    300px;
$flex-control-thumbs:                 5px 0 0;
$flexslider-margin:                   0;
$flexslider-bg:                       transparent;
$flexslider-border:                   none;
$flex-direction-nav-color:            rgba(0,0,0,0.8);
$flex-control-nav-color:              #999999;
$flex-control-nav-color-active:       #999999;
$flex-control-nav-gif-color:          #989898;

/* Layout */
