.ie6 input, .ie7 input, .ie8 input {
    vertical-align: text-bottom;
}

.ie7 img {
    -ms-interpolation-mode: bicubic;
}

.left {
    display: block;
    float: left;
}

.right {
    display: block;
    float: right;
}

.clear {
    display: block;
    clear: both;
    height: 0;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
}

.table {
    display: table;
}

.table-cell {
    display: table-cell;
}

.rel {
    position: relative;
}

.an-del {

    @include transition-delay(.2s);
}

.an-all{

    @include transition(all .2s linear);
}

.an-cl{
    @include transition(color .3s linear);
}

.an-op{
    @include transition(opacity .3s linear);
}

.txt-left {
    text-align: left;
}

.txt-center {
    text-align: center;
}

.txt-right {
    text-align: right;
}

.img-responsive{
    display: block;
    max-width: 100%;
    height: auto;
}